.main {}
.productList {position: relative; width: 100%; height: 100%; overflow: hidden;}
.productList .content {position: absolute; width: 100%; height: auto; min-height: 101%; padding: 0 4.1666% 0 4.1666%;}
.bannerImage {width: 100%; margin: 4.7222% 0 4.7222% 0;}

.goodsList {width: 100%; height: auto;}
.goodsList .goodsItem {-webkit-transition: opacity 0.3s;transition: opacity 0.3s;opacity: 0;}
.goodsList .goodsItem.inited{opacity: 1;}
.goodsList .goodsItem.goods {display: inline-block; width: 47.5758%; margin-bottom: 4.8484%;}
.goodsList .goodsItem .goods {}
.goodsList .goodsItem .goods .ad {position: relative;}
.goodsList .goodsItem .goods .ad {}
.goodsList .goodsItem .goods .ad .iconVideo {position: absolute; width: 20px; height: 20px; top: 5px; right: 5px; border-radius: 50%; background-image: url("../images/wholelist_ico_video00_n_n@2x.png"); background-size: 100%; background-position: center center; background-repeat: no-repeat;}
.goodsList .goodsItem .goods .ad .saleOut {width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0.7); background-image: url("../images/icon_saleout.png"); background-position: center center; background-repeat: no-repeat; background-size: 50%;}

.goodsList .goodsItem .goods .text {background-color: #fff; padding: 0 0.7rem 0 0.6rem;}
.goodsList .goodsItem .goods .text .up {padding-top: 0.3rem;}
.goodsList .goodsItem .goods .text .down {padding-bottom: 0.4rem;}
.goodsList .goodsItem .goods .text .name {font-size: 1.5rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.goodsList .goodsItem .goods .text .salePrice {display: inline-block; font-size: 1.2rem; color: #ff2aa7; margin-right: 0.4rem;}
.goodsList .goodsItem .goods .text .labelPrice {display: inline-block; text-decoration: line-through; font-size: 0.8rem; color: #727272;}
.goodsList .goodsItem .goods .text .discount {display: inline-block; float: right; font-size: 0.8rem; color: #727272; padding-top: 0.2rem;}
.goodsList .goodsItem .goods .text .discount span {color: #ff2aa7; font-size: 1.2rem; margin-right: 0.2em;}

.goodsList .goodsItem.banner {width: 100%; margin-bottom: 4.4444%; clear: both; position: relative;}
.goodsList .goodsItem.banner .banner .ad {}
.goodsList .goodsItem.banner .banner .text {background-color: #fff; position: relative; color: #262626;}
.goodsList .goodsItem.banner .banner .text .brandLogo {width: 24.39%; position: absolute; right: 2.439%; bottom: 15.6863%;}
.goodsList .goodsItem.banner .banner .text .brandLogo .lastTime {color: #ff2aa7; position: absolute; width: 100%; bottom: 25%; text-align: center; font-size: 1rem; line-height: 1em;}
.goodsList .goodsItem.banner .banner .text .brandLogo .adImage {background-color: transparent;}
.goodsList .goodsItem.banner .banner .text .brandName {font-size: 1.5rem; line-height: 1.3rem; padding: 2.439% 0 2.439% 4.878%;}
.goodsList .goodsItem.banner .banner .text .discount {color: #ff2aa7; font-size: 1.5rem; line-height: 1.3rem; padding: 0 0 2.439% 4.878%;}
.goodsList .goodsItem.banner .banner .text .discount span {color: #727272; margin-left: 0.5rem; font-size: 1rem;}


